/* Barra de navegación general */
.barra-navegacion {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 10%;
  z-index: 10;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}


.barra-navegacion .logo img {
  width: 150px;
  height: 40px;
  object-fit: cover;
}


.barra-navegacion .enlaces {
  display: flex;
  gap: 40px;
}

.barra-navegacion .enlaces a {
  color: #1a1a1a;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  transition: color 0.3s;
}

.barra-navegacion .enlaces a:hover {
  color: #1d887b;
}


.menu-boton {
  display: none; 
  background: none;
  border: none;
  cursor: pointer;
  fill: #1d887b;
}


.menu-deslizable {
  display: block; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 20;
  transform: translateX(+100%);
  transition: transform 0.3s ease-in-out;
}

.menu-deslizable.active {
  transform: translateX(0); 
}

.menu-deslizable .contenedor-boton {
  display: flex;
  background-color: #21A495;
  width: 100%;
  height: 10%;
  align-items: center; 
  gap: 20px;
  align-content: center;
  padding: 20px;
}

.menu-deslizable .contenedor-boton h1 {
  color: #fff;
}

.menu-deslizable button.cerrar-menu {
  background: none;
  border: none;
  cursor: pointer;
  top: 20px;
  left: 20px; 
  fill: #fff;
}

.menu-deslizable a.active {
  color: #4dada2; 
  font-weight: bold; 
  background: none;
}

.menu-deslizable .enlaces-menu-deslizable {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 100px;
  margin-left: 60px;
}

.menu-deslizable .enlaces-menu-deslizable a {
  font-size: 1.2em;
  color: #1a1a1a;
  text-decoration: none;
}

.menu-deslizable nav a:hover {
  color: #1d887b;
}


@media (max-width: 768px) {

  .barra-navegacion .enlaces {
    display: none;
  }

  
  .menu-boton {
    display: block;
  }
}
