/* Estilo base */
.contenedor-presentacion {
  text-align: center;
  padding: 60px 15px;
  color: #1a1a1a;
  background-color: #f9f9f9;
  height: 80vh;
  background-image: url("../images/presentacion.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.05);
  animation: fadeIn 1.2s ease-in-out;
}

.contenedor-presentacion::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.contenedor-presentacion h1,
.contenedor-presentacion a {
  position: relative;
  z-index: 2;
}

.contenedor-presentacion h1 {
  font-size: 3.5em;
  margin-bottom: 20px;
  font-weight: 600;
  color: #ffffff;
}

.contenedor-presentacion a {
  text-decoration: none;
  background-color: #21A495;
  color: #ffffff;
  padding: 12px 25px;
  font-size: 1.1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
  font-weight: 500;
}

.contenedor-presentacion a:hover {
  background-color: #1d887b;
  transform: scale(1.05);
}


@media (max-width: 1536px) {
  .contenedor-presentacion h1 {
    font-size: 3.2em;
  }

  .contenedor-presentacion a {
    font-size: 1em;
    padding: 10px 20px;
  }
}

@media (max-width: 1280px) {
  .contenedor-presentacion h1 {
    font-size: 3em;
  }

  .contenedor-presentacion a {
    font-size: 1em;
    padding: 10px 20px;
  }
}

@media (max-width: 1024px) {
  .contenedor-presentacion {
    padding: 50px 10px;
    height: 75vh;
  }

  .contenedor-presentacion h1 {
    font-size: 2.8em;
  }

  .contenedor-presentacion a {
    font-size: 0.95em;
    padding: 8px 18px;
  }
}


@media (max-width: 768px) {
  .contenedor-presentacion {
    padding: 40px 10px;
    height: 70vh;
  }

  .contenedor-presentacion h1 {
    font-size: 2.5em;
  }

  .contenedor-presentacion a {
    font-size: 0.9em;
    padding: 8px 16px;
  }
}


@media (max-width: 640px) {
  .contenedor-presentacion {
    padding: 30px 10px;
    height: 65vh;
  }

  .contenedor-presentacion h1 {
    font-size: 2.2em;
  }

  .contenedor-presentacion a {
    font-size: 0.85em;
    padding: 6px 14px;
  }
}


@media (max-width: 480px) {
  .contenedor-presentacion {
    padding: 20px 10px;
    height: 60vh;
  }

  .contenedor-presentacion h1 {
    font-size: 2em;
  }

  .contenedor-presentacion a {
    font-size: 0.8em;
    padding: 5px 12px;
  }
}
